<app-client-header></app-client-header>
<main>
    <div class="container">
        <div class="select-pmt">
            <div class="row">
                <div class="col-sm-12 select-box">
                    <div class="row">
                        <div class="col-md-5 col-sm-4">
                            <a
                                [routerLink]="['/',appRouter.USER_BASEROUTE, appRouter.EXCHANGE, appRouter.EXCHANGE_TRANSACTION_BOARD]">
                                <div class="select-me">
                                    <p> MONEY Exchange <span> – CLICK HERE TO PROCEED </span> </p>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-2 col-sm-4">
                            <div class="or-box">
                                <h1> or </h1>
                            </div>
                        </div>
                        <div class="col-md-5 col-sm-4">
                            <a [routerLink]="['/',appRouter.USER_BASEROUTE, appRouter.REMITTANCE]">
                                <div class="select-rss">
                                    <p> Remittance & Settlement Services <span> – CLICK HERE TO PROCEED </span></p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<app-disclaimer-footer></app-disclaimer-footer>