<div class="wrapper">
    <div id="body" class="active">
        <div class="content bg-white">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-10">
                        <a [routerLink]="['/', appRoutes.APP_HOME]">
                            <img class="img-fluid mx-auto d-block col-md-7" src="assets/images/new-smz-logo.png">
                        </a>
                    </div>
                    <div class="col-lg-2">
                        <div class="home-icon">
                            <a (click)="goBack()" class="icon" title="Back"> 
                                <img src="assets/images/red-left-arrow.png"></a>
                            <a routerLink="/home" class="icon" title="home">&nbsp; <img src="assets/images/red-right-arrow.png"> </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="content">
            <div class="container" style="margin-top:30px;">
                <div class="row">
                    <div class="col-md-5">
                        
                        <div class="services pt-3 mb-3">
                            <button (click)="navigateToLogin()" type="button" class="new-account-but">
                                Already have an account? <br> Sign in </button>
                        </div>
                    </div>
                    <div class="col-md-2"> </div>
                    <div class="col-md-5">
                        <div class="services">
                            <div class="loginpage service-item pt-2 pb-2">
                                <div class="icon">
                                    <i class="fas fa-envelope"></i>
                                </div>
                                <div class="stretched-link">
                                    <p> <strong> NB - Pls Check Your E-mail And Link On Reset Password </strong> </p>
                                </div>
                            </div>
                        </div>
                        <!-- Error -->
                        <div *ngIf="isError" class="col-md-12 mt-3">
                            <div class="alert alert-danger text-center">{{ errorMessage }}</div>
                        </div>
                        <div class="login-div aos-init aos-animate" data-aos="fade-up" data-aos-delay="200">
                            <div class="login-div-header">
                                <span> <strong> Reset Password </strong>
                                </span>
                            </div>
                            <form [formGroup]="ResetForm"
                                (submit)="!isPasswordResetRequestSuccess? onSubmit():onOtpVerificationSubmit()"
                                class="row login-div-body gy-2">
                                <div class="col-md-12" *ngIf="!isPasswordResetRequestSuccess">
                                    <label for="email-field" class="pb-2">Email Address </label>
                                    <input type="email" id="emailAddress" formControlName="email" class="form-control"
                                        placeholder="" />
                                    <div *ngIf="formSubmitted && f['email'].invalid" class="text-danger">
                                        <small *ngIf="f['email'].errors?.['required']">Email is
                                            required.</small>
                                        <small *ngIf="f['email'].errors?.['email']">Enter a valid
                                            email.</small>
                                    </div>
                                </div>
                                <div class="col-md-12" *ngIf="!isPasswordResetRequestSuccess">
                                    <label for="name-field" class="pb-2">Phone Number</label>
                                    <input type="text" id="mobileNo" formControlName="mobileNo" class="form-control"
                                        placeholder="" />
                                    <div *ngIf="formSubmitted && f['mobileNo'].invalid" class="text-danger">
                                        <small *ngIf="f['mobileNo'].errors?.['required']">Mobile number is
                                            required.</small>
                                        <small *ngIf="f['mobileNo'].errors?.['pattern']">Invalid Mobile Number</small>
                                    </div>
                                </div>
                                <div class="col-md-12" *ngIf="isPasswordResetRequestSuccess">
                                    <label for="subject-field" class="pb-2">OTP</label>
                                    <input type="text" name="otp" id="otp" class="form-control" placeholder=""
                                        formControlName="token">
                                    <div *ngIf="formSubmitted && f['token'].invalid" class="text-danger">
                                        <small *ngIf="f['token'].errors?.['required']">OTP is
                                            required.</small>
                                        <small *ngIf="f['token'].errors?.['minlength']">Invalid OTP</small>
                                        <small *ngIf="f['token'].errors?.['maxlength']">Invalid OTP</small>
                                    </div>
                                </div>
                                <div class="col-md-12" *ngIf="isPasswordResetRequestSuccess">
                                    <label for="subject-field" class="pb-2">Password</label>
                                    <input type="password" id="confirm-password" formControlName="newPassword"
                                        class="form-control" placeholder="" />
                                    <div *ngIf="formSubmitted && f['newPassword'].invalid" class="text-danger">
                                        <small *ngIf="f['newPassword'].errors?.['required']">Password is
                                            required.</small>
                                        <small *ngIf="f['newPassword'].errors?.['minlength']">Min 6 characters.</small>
                                        <small *ngIf="f['newPassword'].errors?.['pattern']">Include uppercase,
                                            lowercase, number, and symbol.</small>
                                    </div>
                                </div>
                                <div class="col-md-12" *ngIf="isPasswordResetRequestSuccess">
                                    <label for="subject-field" class="pb-2">Confirm Password</label>
                                    <input type="password" id="confirm-password" formControlName="confirmPassword"
                                        class="form-control" placeholder="" />
                                    <div *ngIf="formSubmitted && f['confirmPassword'].invalid" class="text-danger">
                                        <small *ngIf="f['confirmPassword'].errors?.['required']">Password is
                                            required.</small>
                                        <small *ngIf="f['confirmPassword'].errors?.['mismatch']">Passwords do not
                                            match.</small>
                                    </div>
                                </div>
                                <div class="col-md-12 mt-4">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <button type="submit" class="submit-btn">Submit to Reset</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-popup-modal [show]="showResetRequestSuccessModel" [title]="'OTP Sent to Your Email'" [buttonText]="'Ok'"
    (ClosePopup)="this.resetRequestSuccessModalClose()">
    <p><span style="color:green">OTP Sent Successfully</span></p>
    <p>We've sent a One-Time Password (OTP) to your registered email address. Please check your inbox and enter the OTP
        in the form to reset your password.</p>
</app-popup-modal>

<app-popup-modal [show]="showResetSuccessModel" [title]="'Password Reset Successful'" [buttonText]="'Ok'"
    (ClosePopup)="this.passwordResetSuccessModalClose()">
    <p><span style="color:green">Your password has been updated.</span></p>
    <p>You can now log in using your new password. Please keep it secure and do not share it with anyone.</p>
</app-popup-modal>