<div class="content">
    <div class="container-fluid mt-3">
        <div class="container-section">
            <div class="row red-box-section">
                <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-3 red-box">
                    <a [routerLink]="['/' ,appRoutes.ADMIN, appRoutes.ADMIN_DASHBOARD]" class="redbox-link">User
                        Interface
                        Access Controll - 1</a>
                </div>
            </div>
            <div class="row black-box-section">
                <div class="col-12 col-md-5 col-lg-4 col-xl-3 black-box">
                    <a [routerLink]="['/' ,appRoutes.ADMIN, appRoutes.ADMIN_DASHBOARD]" class="blackbox-link">Web
                        Analyzer RT ACCESS GO - 2</a>
                </div>
                <div class="col-12 col-md-5 col-lg-4 col-xl-3 black-box">
                    <a [routerLink]="['/' ,appRoutes.ADMIN, appRoutes.ADMIN_DASHBOARD]" class="blackbox-link">Web
                        Analyzer AWSTATS Web - 3</a>
                </div>
            </div>
            <div class="row red-box-section">
                <div class="col-12 col-sm-12 col-md-10 col-lg-8 col-xl-5 red-box">
                    <a [routerLink]="['/' ,appRoutes.ADMIN, appRoutes.ADMIN_DASHBOARD]" class="redbox-link">Initial
                        STOCK & INVENTORY MYR & Foreign Stock - 4</a>
                </div>
            </div>
            <div class="row black-box-section">
                <div class="col-12 col-sm-12 col-md-6 col-lg-3 black-box">
                    <a [routerLink]="['/' ,appRoutes.ADMIN, appRoutes.ADMIN_DASHBOARD]" class="blackbox-link">UNSCR Real
                        Time DATA - 5</a>
                </div>
                <div class="col-12 col-sm-12 col-md-6 col-lg-3 black-box">
                    <a [routerLink]="['/' ,appRoutes.ADMIN, appRoutes.ADMIN_DASHBOARD]" class="blackbox-link">MOHA Real
                        Time DATA - 6</a>
                </div>
                <div class="col-12 col-sm-12 col-md-6 col-lg-3 black-box">
                    <a [routerLink]="['/' ,appRoutes.ADMIN, appRoutes.ADMIN_DASHBOARD]" class="blackbox-link">OFAC Real
                        Time DATA - 7</a>
                </div>
                <div class="col-12 col-sm-12 col-md-6 col-lg-3 black-box">
                    <a [routerLink]="['/' ,appRoutes.ADMIN, appRoutes.ADMIN_DASHBOARD]"
                        class="blackbox-link">CONSOLIDATE Data - 8</a>
                </div>
            </div>
            <div class="row red-box-section">
                <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3 red-box">
                    <a [routerLink]="['/', appRoutes.ADMIN, appRoutes.ADMIN_SCREENING, appRoutes.ADMIN_SCREENING_REALTIME]"
                        class="redbox-link">Real Time SCREEN & OUTPUT - 9</a>
                </div>
                <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3 red-box">
                    <a [routerLink]="['/', appRoutes.ADMIN, appRoutes.ADMIN_SCREENING, appRoutes.ADMIN_SCREENING_BULK]"
                        class="redbox-link">BULK Time Screen & Output - 10</a>
                </div>
            </div>
            <div class="row black-box-section">
                <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3 black-box">
                    <a [routerLink]="['/' ,appRoutes.ADMIN, appRoutes.ADMIN_DASHBOARD]" class="blackbox-link">RATES IBOR
                        Panel fastforex.io - 11</a>
                </div>
                <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-2 red-box">
                    <a [routerLink]="['/' ,appRoutes.ADMIN, appRoutes.ADMIN_DASHBOARD]" class="blackbox-link">Retail
                        Rate MINER - 12</a>
                </div>
                <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-2 red-box">
                    <a [routerLink]="['/' ,appRoutes.ADMIN, appRoutes.ADMIN_DASHBOARD]" class="blackbox-link">Rate
                        Automation & Control Panel - 13</a>
                </div>
                <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-2 black-box">
                    <a [routerLink]="['/' ,appRoutes.ADMIN, appRoutes.ADMIN_DASHBOARD]" class="blackbox-link">Retail
                        Rate DISPLAY - 14</a>
                </div>
                <div class="col-12 col-sm-12 col-md-8 col-lg-6 col-xl-3 black-box">
                    <a [routerLink]="['/' ,appRoutes.ADMIN, appRoutes.ADMIN_DASHBOARD]" class="blackbox-link">Financial
                        Chart Analyzer MACD STOCHASTIC etc - 15</a>
                </div>
            </div>
            <div class="row red-box-section">
                <div class="col-12 col-md-6 col-lg-5 col-xl-5 red-box">
                    <a [routerLink]="['/' ,appRoutes.ADMIN, appRoutes.ADMIN_DASHBOARD]" class="redbox-link">TRANSACTION
                        LADDER & EXECUTION STEP LOG - 16</a>
                </div>
                <div class="col-12 col-md-6 col-lg-3 col-xl-3 red-box">
                    <a [routerLink]="['/' ,appRoutes.ADMIN, appRoutes.ADMIN_DASHBOARD]" class="redbox-link">LBL BNM
                        Submission LOG -17</a>
                </div>
                <div class="col-12 col-md-12 col-lg-4 col-xl-4 red-box">
                    <a [routerLink]="['/' ,appRoutes.ADMIN, appRoutes.ADMIN_DASHBOARD]" class="redbox-link">Current REAL
                        TIME STOCK & INVENTORY - 18 MYR & Foreign Stock</a>
                </div>
            </div>
            <div class="row red-box-section">
                <div class="col-12 col-md-6 col-lg-5 col-xl-3 red-box">
                    <a [routerLink]="['/' ,appRoutes.ADMIN, appRoutes.ADMIN_DASHBOARD]" class="redbox-link">BANK Bal &
                        RECONCILIATION - 19</a>
                </div>
                <div class="col-12 col-md-6 col-lg-5 col-xl-4 red-box">
                    <a [routerLink]="['/' ,appRoutes.ADMIN, appRoutes.ADMIN_DASHBOARD]" class="redbox-link">OPEN & CLOSE
                        Audit - 20 Intraday Check</a>
                </div>
            </div>
            <div class="row red-box-section">
                <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 red-box">
                    <a [routerLink]="['/' ,appRoutes.ADMIN, appRoutes.ADMIN_DASHBOARD]" class="redbox-link">CO Profiling
                        & Filter - 21</a>
                </div>
                <div class="col-12 col-sm-6 col-md-5 col-lg-4 col-xl-3 red-box">
                    <a [routerLink]="['/' ,appRoutes.ADMIN, appRoutes.ADMIN_DASHBOARD]" class="redbox-link">Individual
                        Profiling & Filter -22</a>
                </div>
            </div>
            <div class="row black-box-section">
                <div class="col-12 col-sm-6 col-md-4 col-lg-2 black-box">
                    <a [routerLink]="['/' ,appRoutes.ADMIN, appRoutes.ADMIN_DASHBOARD]" class="blackbox-link">P&L ACCNTS
                        - 23</a>
                </div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-2 red-box">
                    <a [routerLink]="['/' ,appRoutes.ADMIN, appRoutes.ADMIN_DASHBOARD]" class="blackbox-link">IS _ BNM _
                        24</a>
                </div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-2 black-box">
                    <a [routerLink]="['/' ,appRoutes.ADMIN, appRoutes.ADMIN_DASHBOARD]" class="blackbox-link">BAL SHEET
                        _ 25</a>
                </div>
                <div class="col-12 col-sm-6 col-md-6 col-lg-3 red-box">
                    <a [routerLink]="['/' ,appRoutes.ADMIN, appRoutes.ADMIN_DASHBOARD]" class="blackbox-link">BAL SHEET
                        _FP BNM - 26</a>
                </div>
                <div class="col-12 col-sm-6 col-md-6 col-lg-3 red-box">
                    <a [routerLink]="['/' ,appRoutes.ADMIN, appRoutes.ADMIN_DASHBOARD]" class="blackbox-link">MCF_BNM -
                        27</a>
                </div>
            </div>
            <div class="row black-box-section">
                <div class="col-12 col-sm-6 col-lg-5 col-xl-5 black-box">
                    <a [routerLink]="['/' ,appRoutes.ADMIN, appRoutes.ADMIN_DASHBOARD]" class="blackbox-link">AMLCFT
                        Framework BACK BONE ARCHITECTURE - 28</a>
                </div>
                <div class="col-12 col-sm-6 col-lg-6 col-xl-5 black-box">
                    <a [routerLink]="['/' ,appRoutes.ADMIN, appRoutes.ADMIN_DASHBOARD]" class="blackbox-link">LOG
                        INIDVIDUAL SUSPECTS & PROSPECTS ANALYSER - 29</a>
                </div>
            </div>
            <div class="row red-box-section">
                <div class="col-12 col-md-6 col-xl-4 red-box">
                    <a [routerLink]="['/' ,appRoutes.ADMIN, appRoutes.ADMIN_DASHBOARD]" class="redbox-link">BANK Payment
                        Gateway - 30</a>
                </div>
            </div>
            <div class="row red-box-section">
                <div class="col-12 col-sm-7 col-md-6 col-lg-5 col-xl-4 red-box">
                    <a [routerLink]="['/' ,appRoutes.ADMIN, appRoutes.ADMIN_DASHBOARD]" class="redbox-link">P2P & EP2P
                        EPtoEP P2EP SECURITY LOG -31</a>
                </div>
                <div class="col-12 col-sm-5 col-md-5 col-lg-3 red-box">
                    <a [routerLink]="['/' ,appRoutes.ADMIN, appRoutes.ADMIN_DASHBOARD]" class="redbox-link">HALT IP
                        ANALYSER – 32</a>
                </div>
            </div>
            <div class="row black-box-section">
                <div class="col-12 col-sm-6 col-lg-4 col-xl-4 black-box">
                    <a [routerLink]="['/' ,appRoutes.ADMIN, appRoutes.ADMIN_DASHBOARD]" class="blackbox-link">BULK MAIL
                        Designer & Illustrator -33</a>
                </div>
                <div class="col-12 col-sm-6 col-lg-4 col-xl-3 black-box">
                    <a [routerLink]="['/' ,appRoutes.ADMIN, appRoutes.ADMIN_DASHBOARD]" class="blackbox-link">BULK MAIL
                        DB - 34 Data Miner</a>
                </div>
                <div class="col-12 col-sm-4 col-lg-3 col-xl-2 black-box">
                    <a [routerLink]="['/' ,appRoutes.ADMIN, appRoutes.ADMIN_DASHBOARD]" class="blackbox-link">BULK MAIL
                        BLASTER - 35</a>
                </div>
                <div class="col-12 col-sm-8 col-lg-11 col-xl-3 black-box">
                    <a [routerLink]="['/' ,appRoutes.ADMIN, appRoutes.ADMIN_DASHBOARD]" class="blackbox-link">BULK MAIL
                        ANALYSER - PROSPECTS & SUSPECTS - 36</a>
                </div>
            </div>
            <div class="row black-box-section">
                <div class="col-12 col-sm-11 col-md-8 col-lg-6 col-xl-5 black-box">
                    <a [routerLink]="['/' ,appRoutes.ADMIN, appRoutes.ADMIN_DASHBOARD]" class="blackbox-link">BUY & SELL
                        CURRENCY Analyzer - 37 - Wholesale & Demand</a>
                </div>
            </div>
            <div class="row black-box-section">
                <div class="col-12 col-sm-5 col-md-4 col-lg-3 black-box">
                    <a [routerLink]="['/' ,appRoutes.ADMIN, appRoutes.ADMIN_DASHBOARD]" class="blackbox-link">ANNUM
                        Audit Accnts - 38</a>
                </div>
                <div class="col-12 col-sm-7 col-md-6 col-lg-4 col-xl-3 black-box">
                    <a [routerLink]="['/' ,appRoutes.ADMIN, appRoutes.ADMIN_DASHBOARD]" class="blackbox-link">LHDN SST
                        Submission Monthly -39</a>
                </div>
            </div>
        </div>
    </div>
</div>